<div class="designation-container">
    <div class="header">
    <img src="assets/logoHR.png" alt="PeopleRecords Logo" class="logo" />
    <h1 class="title">PeopleRecords</h1>
  </div>
  <h2>Designation Management</h2>
  <div class="top-bar">
    <button class="btn btn-primary" (click)="addDesignation()">
      + Add Designation
    </button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let des of designations">
          <td>{{ des.title }}</td>
          <td>{{ des.description }}</td>
          <td class="actions">
            <button class="btn btn-warning me-2" (click)="updateDesignation(des.id!)">✏️ Update</button>
            <button class="btn btn-danger" (click)="deleteDesignation(des.id!)">🗑️ Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
