<div class="container mt-4 detail-wrapper">
  <div class="header">
    <img src="assets/logoHR.png" alt="PeopleRecords Logo" class="logo" />
    <h1 class="title">PeopleRecords</h1>
  </div>

  <h2>Employee Details</h2>

  <div *ngIf="employee" class="employee-card">
    <p><strong>Employee Code:</strong> {{ employee.employeeCode }}</p>
    <p><strong>Name:</strong> {{ employee.name }}</p>
    <p><strong>Date of Birth:</strong> {{ employee.dateOfBirth | date }}</p>
    <p><strong>Gender:</strong> {{ employee.gender }}</p>
    <p><strong>NIC:</strong> {{ employee.nic }}</p>
    <p><strong>Marital Status:</strong> {{ employee.maritalStatus }}</p>
    <p><strong>Contact Number:</strong> {{ employee.contactNumber }}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>
    <p><strong>Address:</strong> {{ employee.address }}</p>
    <p><strong>Department:</strong> {{ employee.department?.name }}</p>
    <p><strong>Designation:</strong> {{ employee.designation?.title }}</p>
    <p><strong>Employment Type:</strong> {{ employee.employmentType }}</p>
    <p><strong>Date of Joining:</strong> {{ employee.dateOfJoining | date }}</p>
    <p><strong>Salary:</strong> {{ employee.salary | currency:'USD' }}</p>
  </div>

  <div class="mt-3">
    <button class="btn btn-secondary" routerLink="/employees">Back to List</button>
    <!-- <button class="btn btn-warning ms-2" [routerLink]="['/employees/edit', employee.id]">Edit</button>
      -->
    <button class="btn btn-warning ms-2" [routerLink]="['/employees/update', employee?.id]">Edit</button>

  </div>
</div>

