<div class="login-container">
    <div class="logo-section">
    <img src="assets/logoHR.png" alt="PeopleRecords Logo" class="logo" />
    <h1 class="system-name">PeopleRecords</h1>
  </div>

  <h2>Login</h2>

  <form (ngSubmit)="onLogin()">
    <input 
      type="email" 
      [(ngModel)]="loginData.email" 
      name="email" 
      placeholder="Enter your email" 
      required 
    />

    <input 
      type="password" 
      [(ngModel)]="loginData.password" 
      name="password" 
      placeholder="Enter your password" 
      required 
    />

    <button type="submit">Login</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>

  <div class="register-link">
    <p>Don’t have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>
